
@import url(https://db.onlinewebfonts.com/c/028b4cfdfab5d1049178e9b1eb42f49e?family=Poppins+SemiBold);
$heroFontFamily :  'Poppins SemiBold';
$white: #fff;
$roseRouger: #f55767;
$blueMarine: #242f51;
$gris: #616368;


@import url('https://fonts.googleapis.com/css?family=Poppins&display=swap');
$NavbarColorItem:#242f51;
$navbarFontFamily :  'Poppins';
$pink : #f88b96; 
$blue : #2563ff;
$green: #40975f;

$footer-font: 'Poppins'; 
$footer-background-color: #242f51;
$footer-text-color: white;


@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

$fontFamilyLato : 'Lato';
$colorText: #616060;
$backNav: #f4f4f4;

@import url('https://fonts.googleapis.com/css2?family=Playfair+Display+SC:wght@700&display=swap');
$H1FontFamily :  'Playfair Display SC';
$colorH1: #151515;
$colorp: #141414;
$workC: #bc694e;
$colorTime: #848484;
$colorTitle: #4f4f4f;
$colorCopy: #f4f4f4
