@import "_variables";

.navItem {
    color: $NavbarColorItem;
    font-size: 16px;
    font-weight: 400; // 400 correspond à la variante Regular
    font-family:  $navbarFontFamily;
    margin-right: 1.1rem;
}

.textInside{
  text-align: center;
}

.navItem2 {
  color: $colorText;
  font-size: 30px;
  font-weight: 400; // 400 correspond à la variante Regular
  font-family:  $fontFamilyLato;
  margin-right: 7rem;
}

.navbar-toggler {
    margin-right: 1rem;
}

.hero{
    display: flex;
    align-items: center;
}

.btndark{
  border-radius: 3rem;
}

.imgCard{
  width: 25rem;
  height: 20rem;
}

.h2{
    font-size: 60px;
    color: $NavbarColorItem;
    font-family: $heroFontFamily;
}

.h2S2{
  font-size: 36px;
  color: $NavbarColorItem;
  font-family: $heroFontFamily;
  font-weight: 600;
}

.text-hero{
    font-size: 18px;
    color: $gris;
    font-weight: 400; // 400 correspond à la variante Regular
    font-family:  $navbarFontFamily;
}

.button-try{
    background-color: $roseRouger;
    border-color: $roseRouger;
    border-radius: 3rem;
    color: $white;
    padding: 0.7rem 2rem;
    font-size: 16px;
    font-family: $navbarFontFamily;
    font-weight: 700;
}

//Section 1

.badge1{
    font-family:  $heroFontFamily;
    font-size: 1.25 rem;
    color: $pink ;
    font-weight: 600;
  }
  .badge2{
    font-family:  $heroFontFamily;
      font-size: 1.25 rem;
    color: $blue ;
    font-weight: 600;
  }
  .badge3{
  font-family:  $heroFontFamily;
    font-size: 1.25 rem;
    color: $green ;
    font-weight: 600;
  }

  p{
    color: $gris;
    font-size: 16px;
    font-weight: 400; // 400 correspond à la variante Regular
    font-family:  $navbarFontFamily; 
  }

  .section2SpaceRight{
    margin-right: 4rem;
    margin-left: 5rem;
  }

  .mtS2{
    margin-top: 11.9rem;
  }

  .mtS22{
    margin-top: 4.75rem;
  }

  .footer{
    background-color: $footer-background-color;
    height: 23.58rem;
    margin-top: 10.73rem;
  }

  .titleFooter{
    font-size: 30px;
    font-family: $footer-font;
    font-weight: 700;
    color: white;
    margin-top: 4rem;
    margin-bottom: 5.63rem;
  }

.textFooter{
  font-size: 16px;
  font-family: $footer-font;
  font-weight: 400;
  color: white;
  margin-right: 2rem;
}

.iconsFt {
  margin-top: 3rem; 
  display: flex;
  justify-content: center;
  align-items: center;
  a {
      font-size: 2rem;
      margin-right: 2.6rem; 
      color: $white;
  }
  
  a:last-child {
      margin-right: 0; 
  }
  }




//Nav thanyaaa
.nav2{
  width: 100%;
  height: 5.20rem;
  background-color: $backNav;
}

//foulen ben foulen
.h2t2{
  font-size: 3rem;
  font-family: $H1FontFamily;
  font-weight: 700;
  color: $colorH1;
  margin-top: 5.5rem;
}

.liveTun{
  margin-top: 2.5rem;
}

.p{
  font-size: 2.25rem;
  font-weight: 400;
  color: $colorp;
  margin-top: 1rem;
  margin-left: 2rem;
}

.lorem{
  font-size: 1.5rem;
  margin-top: 1.75rem;
}


.img{
  margin-top: 4.25rem;
  margin-bottom: 3.75rem;
}

.we{
  font-size: 2.1rem;
  font-family: $H1FontFamily;
  color: $workC;
  font-weight: 700;
}

.styleTime{
  margin-top: 2rem;
  color: $colorTime;
  font-family: $fontFamilyLato;
  font-size: 1.5rem;
  font-weight: 400;
}

.titleWork{
  margin-top: -1rem;
  margin-bottom: 0.4rem;
  color: $colorTitle;
  font-size: 1.8rem;
  font-family: $fontFamilyLato;
  font-weight: 700;
}

.workType{
  color: $colorTime;
  font-size: 1.1rem;
  font-family: $fontFamilyLato;
  font-weight: 400;
}

.imgFooter{
  width: 100%;
}

.box{
  font-size: 2.1rem;
  color: white;
  font-family: $H1FontFamily;
  font-weight: 700;
  justify-content: center;
  align-items: center;
  padding-left: 3.9rem;
  padding-right: 3.9rem;
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
}

.boxx{
  margin-left: 27rem;
  margin-top: 2rem;
}

.copyRight{
  display: flex;
  height: 7.5rem;
  background-color: $colorCopy;
  display: flex;
  align-items: center;
}

.pp{
  font-size: 1.1rem;
  font-family: $fontFamilyLato;
  font-weight: 400;
  color: #505050;
  margin-top: 3.3rem;
  margin-bottom: 3rem;
}


.iconsFt1 {
  a {
      font-size: 2rem;
      margin-right: 1rem; 
      color: $colorTime;
  }
  
  a:last-child {
      margin-right: 0; 
  }
  }



/* If the screen size is 1200px wide or more, set the font-size to 80px */
@media (max-width: 450px) {
  .h2 {
    font-size: 20px;
    color: $NavbarColorItem;
    font-family: $heroFontFamily;
  }
}

/* If the screen size is smaller than 1200px, set the font-size to 80px */
@media (max-width: 1200px) {
  .h2 {
    font-size: 60px;
    color: $NavbarColorItem;
    font-family: $heroFontFamily;
  }
}

@media (max-width: 768px) {
  .h2 {
    font-size: 40px;
    color: $NavbarColorItem;
    font-family: $heroFontFamily;
  }
}